.Rproj.user
.Rhistory
.RData
.Ruserdata
MeteoProducts.Rproj
_old/
Docs/
Data/0_Temp/
Data/1_Input/_old/
Data/1_Input/API_KEY/*
!Data/1_Input/API_KEY/.gitkeep
Data/1_Input/Weather_stations/
Data/2_Intermediate/*
!Data/2_Intermediate/.gitkeep
Data/3_Output/*
!Data/3_Output/.gitkeep
Scripts/*
!Scripts/005_Download_Weather_Veenkampen.R
